     <nav>
      {{#link-to 'index'}}Home{{/link-to}}
      {{#link-to 'contact'}}Contacts{{/link-to}}
      {{#link-to 'about'}}About{{/link-to}}
      </nav>
    {{outlet}}
    <form>
      {{input type="text" value=name placeholder="Your First & Last Name"}}
    </form>
      Hello {{name}} welcome to the best address book of all time!