     <nav>
      {{#link-to 'index'}}Home{{/link-to}}
      {{#link-to 'about'}}About{{/link-to}}
      {{#link-to 'favorite'}}Favorite{{/link-to}}
      </nav>
    {{outlet}}
    <form>
      {{input type="text" value=name placeholder="Your Name"}}
    </form>
      Hello, {{name}}!